<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397486904850-8q4ujq35dbt4hvjhgem00p8fr2ar1o54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397486904850-8q4ujq35dbt4hvjhgem00p8fr2ar1o54</string>
	<key>API_KEY</key>
	<string>AIzaSyBurDFDELW2ZBW2HcXFlDSwNX9zyhpI9hw</string>
	<key>GCM_SENDER_ID</key>
	<string>397486904850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.poll2022</string>
	<key>PROJECT_ID</key>
	<string>poll-34f4a</string>
	<key>STORAGE_BUCKET</key>
	<string>poll-34f4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397486904850:ios:cea0d6e0998c35d987aacb</string>
</dict>
</plist>